pre { line-height: 125%; }
td.linenos .normal { color: #6b6560; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #6b6560; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #3d3a36 }
.highlight { background: #2d2a26; color: #F5F2ED }
.highlight .c { color: #8A8580; font-style: italic } /* Comment */
.highlight .err { color: #E85D5D } /* Error */
.highlight .esc { color: #F5F2ED } /* Escape */
.highlight .g { color: #F5F2ED } /* Generic */
.highlight .k { color: #E9A872 } /* Keyword */
.highlight .l { color: #D4A59E } /* Literal */
.highlight .n { color: #F5F2ED } /* Name */
.highlight .o { color: #F5F2ED } /* Operator */
.highlight .x { color: #F5F2ED } /* Other */
.highlight .p { color: #F5F2ED } /* Punctuation */
.highlight .ch { color: #8A8580; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #8A8580; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8A8580; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #8A8580; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #8A8580; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8A8580; font-style: italic } /* Comment.Special */
.highlight .gd { color: #E85D5D } /* Generic.Deleted */
.highlight .ge { color: #F5F2ED; font-style: italic } /* Generic.Emph */
.highlight .ges { color: #F5F2ED } /* Generic.EmphStrong */
.highlight .gr { color: #E85D5D } /* Generic.Error */
.highlight .gh { color: #F5F2ED; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #A8C97F } /* Generic.Inserted */
.highlight .go { color: #F5F2ED } /* Generic.Output */
.highlight .gp { color: #6B6560 } /* Generic.Prompt */
.highlight .gs { color: #F5F2ED; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #F5F2ED; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #E85D5D } /* Generic.Traceback */
.highlight .kc { color: #E9A872 } /* Keyword.Constant */
.highlight .kd { color: #E9A872 } /* Keyword.Declaration */
.highlight .kn { color: #E9A872 } /* Keyword.Namespace */
.highlight .kp { color: #E9A872 } /* Keyword.Pseudo */
.highlight .kr { color: #E9A872 } /* Keyword.Reserved */
.highlight .kt { color: #D4A59E } /* Keyword.Type */
.highlight .ld { color: #D4A59E } /* Literal.Date */
.highlight .m { color: #D4A59E } /* Literal.Number */
.highlight .s { color: #A8C97F } /* Literal.String */
.highlight .na { color: #F5F2ED } /* Name.Attribute */
.highlight .nb { color: #F5F2ED } /* Name.Builtin */
.highlight .nc { color: #F5F2ED } /* Name.Class */
.highlight .no { color: #F5F2ED } /* Name.Constant */
.highlight .nd { color: #D4A59E } /* Name.Decorator */
.highlight .ni { color: #F5F2ED } /* Name.Entity */
.highlight .ne { color: #E85D5D } /* Name.Exception */
.highlight .nf { color: #F5F2ED } /* Name.Function */
.highlight .nl { color: #F5F2ED } /* Name.Label */
.highlight .nn { color: #F5F2ED } /* Name.Namespace */
.highlight .nx { color: #F5F2ED } /* Name.Other */
.highlight .py { color: #F5F2ED } /* Name.Property */
.highlight .nt { color: #F5F2ED } /* Name.Tag */
.highlight .nv { color: #F5F2ED } /* Name.Variable */
.highlight .ow { color: #E9A872 } /* Operator.Word */
.highlight .pm { color: #F5F2ED } /* Punctuation.Marker */
.highlight .w { color: #F5F2ED } /* Text.Whitespace */
.highlight .mb { color: #D4A59E } /* Literal.Number.Bin */
.highlight .mf { color: #D4A59E } /* Literal.Number.Float */
.highlight .mh { color: #D4A59E } /* Literal.Number.Hex */
.highlight .mi { color: #D4A59E } /* Literal.Number.Integer */
.highlight .mo { color: #D4A59E } /* Literal.Number.Oct */
.highlight .sa { color: #A8C97F } /* Literal.String.Affix */
.highlight .sb { color: #A8C97F } /* Literal.String.Backtick */
.highlight .sc { color: #A8C97F } /* Literal.String.Char */
.highlight .dl { color: #A8C97F } /* Literal.String.Delimiter */
.highlight .sd { color: #8A8580; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #A8C97F } /* Literal.String.Double */
.highlight .se { color: #D4A59E } /* Literal.String.Escape */
.highlight .sh { color: #A8C97F } /* Literal.String.Heredoc */
.highlight .si { color: #A8C97F } /* Literal.String.Interpol */
.highlight .sx { color: #A8C97F } /* Literal.String.Other */
.highlight .sr { color: #A8C97F } /* Literal.String.Regex */
.highlight .s1 { color: #A8C97F } /* Literal.String.Single */
.highlight .ss { color: #A8C97F } /* Literal.String.Symbol */
.highlight .bp { color: #F5F2ED } /* Name.Builtin.Pseudo */
.highlight .fm { color: #F5F2ED } /* Name.Function.Magic */
.highlight .vc { color: #F5F2ED } /* Name.Variable.Class */
.highlight .vg { color: #F5F2ED } /* Name.Variable.Global */
.highlight .vi { color: #F5F2ED } /* Name.Variable.Instance */
.highlight .vm { color: #F5F2ED } /* Name.Variable.Magic */
.highlight .il { color: #D4A59E } /* Literal.Number.Integer.Long */